---
import PostsLoop from "../posts-loop.astro";
---

<section class="max-w-4xl mx-auto px-7 lg:px-0 mt-8">
  <div class="w-full">
    <div class="grid grid-cols-1 gap-4">
      <PostsLoop count="3" />

      <a 
        href="/posts" 
        class="relative flex flex-row items-center justify-center h-16 border border-dashed rounded-2xl border-neutral-300 dark:border-neutral-700 group hover:bg-neutral-50 dark:hover:bg-neutral-900 transition-all duration-300 bg-white dark:bg-neutral-950"
      >
        <div class="flex flex-row items-center space-x-3">
          <span class="text-[10px] font-bold text-neutral-900 dark:text-white uppercase tracking-widest">
            View All Writing
          </span>

          <div class="p-1.5 rounded-full bg-neutral-100 dark:bg-neutral-800 group-hover:bg-black dark:group-hover:bg-white transition-colors">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-neutral-600 dark:text-neutral-400 group-hover:text-white dark:group-hover:text-black transition-transform duration-300 group-hover:translate-x-0.5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M14 5l7 7m0 0l-7 7m7-7H3" />
            </svg>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="pb-10 md:pb-20"></div>
</section>